.filterDiv {
  position: relative;
  display: block;
  padding: 3px 9px;
  margin: 3px;
  width: 100%;
  border: 1px solid #774548;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
    display: inline-block;
    width: 60%;
}

#map {
    margin: 10px;
    border: 0px solid;
    box-shadow: 5px 5px 15px black;
    width: 80vw;
    height: 80vh;
    position: center;
}

.filterInput {
  display: none;
}
input[type="text"].filtersEditorInput {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0px;
  margin: 1px;
  width: 20px;
  max-width: 100%;
}

.filterSpan {
  margin: 2px;
  border-style: solid;
  border-radius: 3px;
  border-color: transparent;
  background-color: #F6E7E9;
  color: #774548;
  word-break: break-all;

}
.filtersEditor {
  display: block;
}

a.deleteFilter {
  text-decoration: none !important;
}


input::-webkit-calendar-picker-indicator {
  display: none;
}

.filterDiv option:hover {background-color: #ddd;}

.filterDiv:hover {
  cursor:text;
}

.deleteFilter:hover {
  cursor:pointer;
}